.modal {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: -1000;

	visibility: hidden;

	background-color: var(--semi-grey);
}

.modal_open {
	z-index: 1000;

	visibility: visible;
}

.modal__content {
	position: absolute;
	left: 50%;
	top: 50%;

	padding: 30px 40px;

	border-radius: 8px;

	background-color: var(--white);

	transform: translate(-50%, -50%);
}

.modal__close {
	position: absolute;
	top: 16px;
	right: 16px;

	padding: 0;

	color: var(--grey-4);
	border: none;

	background-color: transparent;

	cursor: pointer;
}

.modal__header {

}

.modal__title {
	margin: 0;
	margin-bottom: 16px;

	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 600;
	color: var(--blue-light);
}

.modal__body {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: var(--grey-4);
}

.modal__footer {

}
