.histogram {
	padding: 16px 24px 24px;

	color: var(--black);

	border: 1px solid var(--grey-3);
	border-radius: 8px;
}

.histogram__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	margin-bottom: 39px;
}

.histogram__total {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.histogram__title {
	font-size: 1.6rem;
	line-height: 2.4rem;

}
.histogram__value {
	font-size: 2rem;
	line-height: 2.6rem;
}

.histogram__link {
	margin-top: 3px;

	font-size: 1.6rem;
	line-height: 2.4rem;
	color: var(--blue);
	text-decoration: none;
}

.histogram__chart {
	display: flex;
	align-items: flex-end;
	gap: 1px;

	height: 50px;
}

.histogram__column {
	flex: 1;

	background-color: var(--blue);
}
