.page {
	height: 100%;

	background-color: var(--white);
}

.page_components {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";

	background-color: var(--grey-5);
}
