.page {
	height: 100%;

	background-color: var(--white);
}

.page_components {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";

	background-color: var(--grey-5);
}

.page__header {
	grid-area: header;

	padding: 24px 0 60px;
}

.page__main {
	grid-area: main;
}

.page__footer {
	grid-area: footer;

	padding: 56px 0;
}
