.page {
	height: 100%;

	background-color: var(--white);
}

.page_components {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";

	background-color: var(--grey-5);
}

.page__header {
	grid-area: header;

	padding: 24px 0 60px;
}

.page__main {
	grid-area: main;
}

.page__footer {
	grid-area: footer;

	padding: 56px 0;
}

@media screen and (max-width: 992px) {
	.page__footer {
		padding: 32px 0;
	}
}

@media screen and (max-width: 768px) {
	.page__header {
		padding: 16px 0;

		background-color: var(--grey-5);
	}

	.page_components {
		background-color: var(--white);
	}
}
