.avatar {
	overflow: hidden;
	
	border-radius: 50%;
}

.avatar_lg {
	width: 102px;
	height: 102px;
}

.avatar_md {
	width: 64px;
	height: 64px;
}

.avatar_sm {
	width: 48px;
	height: 48px;
}

.avatar__image {
	display: block;
	width: 100%;
	height: 100%;

	object-fit: cover;
}
