.main {
	--main-border: 1px solid var(--grey-2);

	border-bottom: var(--main-border);
	border-top: var(--main-border);

	background-color: var(--grey-5);
}

.main__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;

	padding: 65px 0;
}
