@import './normalize.css';

@import '../fonts/fonts.css';

@import '../../components/index.css';

:root {
    --white: #FFFFFF;
    --black: #212429;
    --black-pale: #2124290D;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-dark: #5028C6;
    --blue: #4263EB;
    --blue-light: #334D6E;
    --blue-dark: #2342C0;
    --blue-pale: #A0B1F533;
    --red: #F03D3E;
    --orange: #D84910;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-cold: #334D6E;
    --grey-cold-2: #90A0B7;

    --semi-grey: #C4C4C480;

    --error: var(--red);
    --success: var(--blue);
    --notification: var(--orange);

    --primary: var(--blue);
    --secondary: var(--purple);

    --primary-hover: var(--blue-dark);
    --secondary-hover: var(--purple-dark);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;

    font-size: 62.5%;
}

body {
    height: 100%;

    font-family: 'Inter', sans-serif;
}